.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu {
  display: inline-table;
  padding: 0 10px;
}

table,
th,
tr,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  width: 75%;
  margin: 0px auto;
}

.barra {
  width: 100%;
  text-align: center;
}

.centrar {
  margin: 0 auto;
}

img {
  display: inline;
  width: 25%;
  padding-right: 25px;
}

.nombre {
  display: inline;
  text-align: center;
  color: green;
  font-size: 150px;
}

.contenedor {
  width: 85%;
  margin: 0 auto;
}

.datos {
  font-size: 20px;
}

.tablaDatos tr, td, table {
  border: hidden
}